body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1{
  font-family: 'Sacramento', cursive;
  margin-top: 0;
}
h2{
  font-family: 'Montserrat', sans-serif;
}
h3{
  font-family: 'Montserrat', sans-serif;
}
/*p{
  margin-top: 0;
  margin-bottom: 0;
}*/
.top-container{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}
.middle-container{

}
.bottom-container{
  
}
.test-analyst{
  text-decoration: underline;
}
.bottom-cloud{
  position:absolute;
  left: 300px;
  bottom: 300px;
}
.top-cloud{
  position:absolute;
  right: 300px;
  top: 50px;
}
